@import '../../styles/variables.scss';
header {
    min-height: 60px;
    background-color: $black;
    color: $white;
    display: flex !important;
}

.headerContainer {
    width: 100%;
    display: flex;

    .headerContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p {
            margin: 0;
        }
        
        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .leftSide {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            h2 {
                margin-left: 10px;
            }
        }

        .forumLink {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $white;
            height: 100%;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                
                img {
                    opacity: 1;
                }
            }

            img {
                height: 50px;
            }

            .linkText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                padding-right: 5px;

                .line2 {
                    color: $gold;
                }
            }
        }
    }
}

