@import '../../styles/variables.scss';
h2 {
  margin: 20px 0;
}
h3 {
  color: $gold;
  margin-bottom: 20px;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}
.description {
  font-size: 12px;
  text-align: left;
}
.seller {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.sellers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
  min-height: 160px;
  @media (max-width: 768px) {
    min-height: auto;
  }
}
