$black: #000000;
$white: #ffffff;
$gold: #FFD700;

$default-padding: 3%;
$narrow-padding: 1.5%;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}